body {
    overflow-y: hidden;
}
.arco-dropdown-open .arco-icon-down {
    transform: rotate(180deg);
}
a {
  text-decoration: none;
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
} */

.pointer {
  cursor: pointer;
}

.space-h-20 {
  height: 20px;
}

.space-h-40 {
  height: 40px;
}

.space-h-80 {
  height: 80px;
}

.space-h-100 {
  height: 100px;
}

.f-s-16{
  font-size: 16px;
}
.f-s-18 {
  font-size: 18px;
}

.f-s-24 {
  font-size: 24px;
}

.m-t-8 {
  margin-top: 8px;
}

.m-t-14 {
  margin-top: 14px !important;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-l-2 {
  margin-left: 2px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-14 {
  margin-left: 14px !important;
}

.m-l-16 {
  margin-left: 16px;
}

.m-l-24 {
  margin-left: 24px;
}

.m-l-40 {
  margin-left: 40px;
}
.m-r-4{
  margin-right: 4px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-r-12 {
  margin-right: 12px;
}

.m-r-16 {
  margin-right: 16px;
}

.m-r-18 {
  margin-right: 18px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-r-24 {
  margin-right: 24px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-26 {
  margin-bottom: 26px;
}

.m-b-30{
  margin-bottom: 30px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex {
  display: flex !important;
}

.align-center {
  align-items: center !important;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-start{
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}
.flex-between {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.flex-around-noCenter {
  display: flex !important;
  justify-content: space-around !important;
}

.flex-between-noCenter {
  display: flex !important;
  justify-content: space-between !important;
}

.ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.noEllipsis span{
  overflow: auto;
  white-space: normal;
  text-overflow: clip;
}
.bodyCell .arco-table-cell{
  padding: 0 16px!important;
}

.blue{
  color: #5370FD;
}
.red{
  color: #F73131;
}
.green{
  color:#52C41A;
}
.color{
  color:rgb(234, 248, 243)
}
.defaultPadding{
  padding: 26px 30px 30px 30px;
}
#clocr{
  color:rgb(100, 114, 123)
}
.arcoTable_columnsWidthAuto .arco-table-element{
  table-layout : auto !important;
}
.arcoTable_columnsWidthAuto .arco-table-element thead .arco-table-th{
  white-space: nowrap;
}
.arcoTable_columnsWidthAuto .arco-table-element tbody .arco-table-td {
  white-space: nowrap;
}
.arcoTable_tr_color .arco-table-tr .arco-table-td:before{
  background-color: #FFFFFF00 !important;
}